<div [hidden]='!showLoader' class="global-loader-global-box">
  <app-preloader></app-preloader>
</div>

<div class="container global-top-padding">
  <div class="row">

    <div class="col-12 global-title">Помощь</div>

    <div class="col-lg-9">
      <div class="global-box">

        <!--How it works-->
        <ng-container *ngIf='tabs[0].key'>
          <div class="global-sub-title">{{tabs[0].value}}</div>

          <p class="sub-title">Принцип работы краудфандинга прост:</p>
          <p class='delicate-text'>
            Автор описывает свою идею, стараясь сделать это описание максимально понятным, доступным и привлекательным.
            Люди,
            которых проект заинтересовал, становятся спонсорами. Они перечисляют деньги на счет проекта, рассчитывая
            впоследствии
            получить взамен что-то ценное: что-либо, что появилось в результате реализации проекта, которого они
            поддержали. Это
            может быть приглашение на премьеру профинансированного фильма, первый прототип инновационной технологии,
            абонемент в
            новую школу танцев или возможность сняться в клипе любимой рок-группы.
          </p>
          <p class='delicate-text'>
            На платформе {{platformName}} действует принцип финансирования “все или ничего”. Данный принцип означает,
            что
            проекты, размещенные на платформе, могут быть только полностью профинансированы. Автор проекта определяет
            сумму, необходимую для реализации проекта, и срок, в течение которого проект будет собирать средства. Если
            автору удается собрать заявленную сумму в течение указанного срока, то он получает деньги и возможность
            воплотить свою идею в жизнь. Если же проект указанную сумму не собирает, или собранная сумма оказывается
            меньше заявленной, деньги возвращаются инвесторам.
          </p>

          <p class="sub-title">Преимущества принципа «все или ничего»:</p>
          <ul>
            <li class='delicate-text'>Отсутствие рисков – в случае, если проект не набирает указанную для его реализации
              сумму, работа не выполняется, а спонсоры, поддержавшие проект, не теряют денежные средства. </li>
            <li class='delicate-text'> В случае, если проект не находит отклика у общественности и, следовательно, не
              набирает достаточное количество заявок на финансирование, авторы могут пересмотреть свои идеи и не обязаны
              продолжать работу над проектом. </li>
            <li class='delicate-text'>Такой принцип финансирования мотивирует авторов к активной работе над проектом,
              коммуникации и поиску спонсоров, заинтересованных в их идеях. </li>
          </ul>

          <p class="sub-title">Итак, как работает {{platformName}}:</p>
          <ul>
            <li class='delicate-text'>Автор оформляет свой проект и отправляет на модерацию. </li>
            <li class='delicate-text'>Если модерация проходит успешно, то автор подписывает договор с платформой на
              размещение проекта в системе, и договор с банком на аккумулирование средств во время краудфандинговой
              кампании. </li>
            <li class='delicate-text'>В течение всей краудфандинговой кампании средства поступают на временный счет
              проекта. </li>
            <li class='delicate-text'>Если к концу кампании автору удается собрать заявленную сумму, то он получает
              деньги. Если же проект указанную сумму не собирает, или собранная сумма оказывается меньше заявленной,
              деньги возвращаются спонсорам. </li>
          </ul>

          <p class="sub-title">Комиссия и налоги:</p>
          <ul>
            <li class='delicate-text'>Деньги, собранные на платформе, автор получает на основе договора дарения. </li>
            <li class='delicate-text'> Если полученная сумма превысит {{maxValue}} BYN, автору необходимо будет с этой
              суммы денег заплатить подоходный налог в размере {{tax}}.</li>
            <li class='delicate-text'> {{platformName}}, банк и платежная система взимают общую комиссию в размере
              {{profitPercent}}. Комиссия взимается только с тех проектов, которые были успешно профинансированы. В
              случае, если проект финансирования не собрал, или сумма собранных средств оказалась меньше заявленной,
              комиссия взиматься не будет. </li>
          </ul>
        </ng-container>

        <!-- About platform -->
        <ng-container *ngIf='tabs[1].key'>
          <div class="global-sub-title">{{tabs[1].value}}</div>

          <p class="sub-title">О краудфандинге</p>
          <p class='delicate-text'>
            Краудфандинг – это инструмент коллективного финансирования проектов и инициатив. В «краудфандинге» большое
            количество людей поддерживает интересующий проект малыми или большими суммами, получая взамен результаты от
            реализации профинансированного проекта.
          </p>
          <p class='delicate-text'>
            Автор определяет сумму, необходимую для реализации проекта, и срок сбора средств. Если проект не собирает
            указанную сумму, деньги в полном объеме возвращаются спонсорам.
          </p>

          <p class="sub-title">Спонсорам:</p>
          <ul>
            <li class='delicate-text'>Возможность воспользоваться результатами проекта в обмен на финансовую поддержку.
            </li>
            <li class='delicate-text'>Автоматический возврат всей суммы, если проект не получит 100% финансирования.
            </li>
            <li class='delicate-text'>Минимальная сумма перечисления — 1 рубль. </li>
            <li class='delicate-text'>Отсутствие комиссий для спонсоров. </li>
          </ul>

          <p class="sub-title">Авторам:</p>
          <ul>
            <li class='delicate-text'> Бесплатное размещение проекта на платформе. </li>
            <li class='delicate-text'> Бесплатные консультации и поддержка со стороны платформы.</li>
            <li class='delicate-text'> Комиссия {{tax}} от собранной суммы ТОЛЬКО в случае успешного сбора средств.
            </li>
          </ul>

          <!-- <p class="sub-title">Компаниям:</p>
          <p class="delicate-text">Для компаний {{platformName}} подготовил несколько вариантов взаимодействия: </p>
          <ul>
            <li class='delicate-text'> Бесплатное размещение проекта на платформе. </li>
            <li class='delicate-text'> Бесплатные консультации и поддержка со стороны платформы.</li>
            <li class='delicate-text'> Комиссия {{tax}} от собранной суммы ТОЛЬКО в случае успешного сбора средств. </li>
          </ul> -->
        </ng-container>

        <!-- Platform rules -->
        <ng-container *ngIf='tabs[2].key'>
          <div class="global-sub-title">{{tabs[2].value}}</div>
          <p class='delicate-text'>Мы открыты для проектов из различных сфер: Кино, Музыка, Искусство, Дизайн, Мода,
            Технологии, Литература, Танцы, Игры, Ремесло и другие. Существует всего 4 правила, которым должен
            соответствовать проект. </p>

          <p class="sub-title">Спонсорам:</p>
          <ul>
            <li class='delicate-text'>
              <span class="li-title">Проект должен делиться чем-то с миром</span>
              {{platformName}} позволяет привлекать финансирование для создания удивительных вещей: произведений
              искусства, инновационных устройств, событий, идей. Результатом каждого проекта должно быть создание
              чего-то, чем можно поделиться с миром.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Проекты должны быть честными и прозрачными</span>
              Краудфандинг строится на доверии. Проекты не должны вводить в заблуждение людей или искажать факты, а
              авторы должны быть искренними относительно своих планов.
            </li>
            <li class='delicate-text'>
              <span class="li-title">{{platformName}} не публикует инвестиционные предложения</span>
              Проекты не должны предлагать финансовые выгоды, долю в бизнесе или возврат перечисленных средств.
            </li>
            <li class='delicate-text'>
              <span class="li-title">{{platformName}} не публикует проекты, разжигающие вражду</span>
              Проекты не должны разжигать рассовую, национальную или религиозную вражду или рознь, а также унижать
              национальную честь и достоинство. Также Улей не публикует проекты, имеющие в своей основе споры,
              противостояния, оспаривание мнений и аналогичные действия.
            </li>
          </ul>

        </ng-container>

        <!-- Trust and Safety -->
        <ng-container *ngIf='tabs[3].key'>
          <div class="global-sub-title">{{tabs[3].value}}</div>

          <p class="sub-title">Общая информация</p>
          <ul>
            <li class='delicate-text'>
              <span class="li-title">{{platformName}} не является магазином</span>
              Пользователи {{platformName}} не покупают продукты, которые уже существуют – они помогают создавать новые.
              Создание
              чего-то нового является довольно сложным процессом. Некоторые проекты будут успешно реализованы, а
              некоторые –
              потерпят неудачу. Будьте готовы к обоим вариантам.
            </li>
            <li class='delicate-text'>
              <span class="li-title">{{platformName}} не занимается инвестициями</span>
              Пользователи не инвестируют в новые компании с помощью {{platformName}}. {{platformName}} – это
              краудфандинговая
              площадка, с помощью которой авторы проектов получают финансовую поддержку на безвозмездной основе.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Авторы несут ответственность за свои проекты</span>
              Перечисляя деньги на реализацию проекта, вы оказываете доверие автору. Если вы не знакомы с автором лично
              или
              косвенно, проведите для начала небольшое исследование. «Crowdfinding app» не рассматривает жалобы, связанные
              с
              реализацией проектов, не решает споры, не занимается возвратом денежных средств – пользователи действуют
              на свой
              страх и риск.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Некоторые проекты реализуются не по плану</span>
              Как бы ни старался автор проекта, иногда обстоятельства вынуждают менять планы. Никто не дает гарантий
              того, что
              проект будет реализован. Учитывайте данное обстоятельство, когда собираетесь поддержать проект.
            </li>
          </ul>

          <p class="sub-title">Как работает {{platformName}}</p>
          <ul>
            <li class='delicate-text'>
              <span class="li-title">{{platformName}} использует модель «все или ничего»</span>
              Автору проекта необходимо собрать 100% от заявленной суммы и больше, чтобы получить средства. Если в
              течение
              обозначенного срока сумма не собрана, то деньги возвращаются спонсорам.
            </li>
            <li class='delicate-text'>
              <span class="li-title">{{platformName}} не аккумулирует деньги на счетах</span>
              Все деньги, перечисленные дарителями, хранятся на временном счете проекта в банке в течение всего срока
              краудфандинговой кампании.
            </li>
            <li class='delicate-text'>
              <span class="li-title">{{platformName}} берет комиссию</span>
              Общая комиссия {{platformName}}, банка и платежной системы составляет {{tax}}. Комиссия берется только с
              успешно
              профинансированных проектов.
            </li>
          </ul>

          <p class="sub-title">Что могут сделать авторы</p>
          <ul>
            <li class='delicate-text'>
              <span class="li-title">Быть открытыми</span>
              Расскажите о себе и о своем проекте. Вы ожидаете от других людей поддержки в реализации общей цели – этого
              проще
              добиться, когда люди знают о вас как можно больше.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Быть отзывчивыми</span>
              Старайтесь отвечать на все вопросы и быстро реагировать на любые предложения. Это отличный способ
              продемонстрировать
              сообществу свой интерес и решительность в реализации проекта.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Быть честными</span>
              Иногда появляется искушение «продать» свой проект с помощью ярких слов и громких обещаний. Но дарители
              поверят вам
              намного охотнее, если вы будете прямолинейны и честны. Расскажите им правду о том, что вы делаете и как вы
              это
              делаете, расскажите о рисках, которые существуют.
            </li>
          </ul>

        </ng-container>

        <!-- FAQ -->
        <ng-container *ngIf='tabs[4].key'>
          <div class="global-sub-title">Часто задаваемые вопросы</div>

          <p class="sub-title">Возможно, здесь вы найдете ответы на свои вопросы</p>

          <app-collapse *ngFor='let item of faq' [header]='item.key' [body]='item.value'></app-collapse>

        </ng-container>

        <!-- Start -->
        <ng-container *ngIf='tabs[5].key'>
          <div class="global-sub-title">{{tabs[5].value}}</div>
          <p class='delicate-text'>
            «Краудфандинг» является эффективным инструментом сбора средств, который подходит для
            проектов любой тематики. Ваш проект может быть новой книгой, фильмом, фестивалем, уникальной
            технологией или
            программой, инновационным бизнесом или социальной инициативой и многим-многим другим.
          </p>
          <p class='delicate-text'>Любая ваша мечта может стать реальностью с помощью «Crowdfinding app». Четко определите
            цель и следуйте ей! У вас все получится! </p>
          <p class='delicate-text'>Мы разработали для вас несколько правил, соблюдение которых позволит вам привлечь
            финансирование. </p>

          <p class="sub-title">Правила краудфандинга:</p>
          <ul>
            <li class='delicate-text'>
              <span class="li-title">Польза для окружающих</span>
              Если потенциальные спонсоры не увидят в вашем проекте никакой пользы для себя, то вряд ли вы соберете
              достаточное
              количество средств. Задайте себе вопрос: для кого создается ваш проект и какую проблему решает? Если
              ответите на
              этот вопрос, то вам будет проще убедить спонсоров.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Наработки по проекту</span>
              Если проект существует лишь в вашей голове, то вряд ли он будет интересен спонсорам. Чем больше сделано по
              проекту
              до старта «краудфандинговой кампании», тем больше шансов на успех. Продемонстрируйте потенциальным
              спонсорам
              результат вашей работы на сегодня!
            </li>
            <li class='delicate-text'>
              <span class="li-title">Подготовка – самое главное</span>
              Этап «подготовки проекта» намного важнее самой «краудфандинговой кампании». Качественно подготовленное
              описание,
              запоминающееся видео, интересные и востребованные подарки, разумный бюджет – все это заставит спонсоров
              поверить в
              вас и в ваш проект.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Наличие стратегии продвижения</span>
              После запуска «краудфандинговой кампании» вы должны четко представлять, что и в какой последовательности
              делать. Не
              будет плана – не получится привлечь финансирование. Наличие плана снимет с вас огромное количество
              вопросов и
              обеспечит успех!
            </li>
            <li class='delicate-text'>
              <span class="li-title">Готовность работать</span>
              Подготовка и проведение «краудфандинговой кампании» требует полной вовлеченности в процесс. Если у вас нет
              времени и
              желания заниматься привлечением финансирования, то вряд ли получится его привлечь. Но если вы готовы
              посвятить себя
              этому краудфандингу, то у вас все получится!
            </li>
            <li class='delicate-text'>
              <span class="li-title">Наличие команды</span>
              Привлечь финансирование в одиночку с помощью «краудфандинга» будет довольно проблематично. Если у вас нет
              команды, то
              обязательно найдите единомышленников. Вместе вы сможете намного эффективнее раскрыть свой творческий
              потенциал!
            </li>
          </ul>
          <p class='delicate-text'>Если вы готовы следовать этим правилам, то можете смело переходить к следующему
            разделу! </p>
        </ng-container>

        <!-- Description -->
        <ng-container *ngIf='tabs[6].key'>
          <div class="global-sub-title">{{tabs[6].value}}</div>

          <p class="sub-title">Оформление проекта состоит из :</p>
          <ul>
            <li class='delicate-text'>
              Обложки
            </li>
            <li class='delicate-text'>
              Описания
            </li>
          </ul>

          <p class="sub-title">Обложка проекта</p>
          <p class='delicate-text'>Обложка проекта — это главное изображение, которое первым бросается в глаза
            потенциальным
            спонсорам. Если вы хотите заинтересовать людей, то обложка должна быть:</p>
          <ul>
            <li class='delicate-text'>
              Яркой — цеплять глаз оригинальность исполнения.
            </li>
            <li class='delicate-text'>
              Информативной — постарайтесь визуализировать то, что вы собираетесь создать.
            </li>
          </ul>

          <p class="sub-title">Описание проекта</p>
          <p class='delicate-text'>Описание – это ваша история, которую вы расскажите с помощью текста и изображений.
            Структура вашего описания может быть следующей: </p>
          <ul>
            <li class='delicate-text'>
              Расскажите о проекте, его целях и проблеме, которую решает. Это должно стать главной частью вашего
              описания.
            </li>
            <li class='delicate-text'>
              Расскажите о проделанной работе и продемонстрируйте ее.
            </li>
            <li class='delicate-text'>
              Расскажите о трудностях, с которыми можете столкнуться.
            </li>
            <li class='delicate-text'>
              Расскажите о бюджете и покажите, на что пойдут собранные средства.
            </li>
            <li class='delicate-text'>
              Призовите людей к действию – попросите профинансировать проект!
            </li>
          </ul>
          <p class='delicate-text'>Правила, которых необходимо придерживаться:</p>
          <ul>
            <li class='delicate-text'>
              Описание проекта должно быть четко структурированным.
            </li>
            <li class='delicate-text'>
              Описание проекта не должно быть слишком маленьким или слишком большим.
            </li>
          </ul>
          <p class='delicate-text'>Качественное описание проекта позволит привлечь необходимое финансирование и собрать
            армию поклонников. </p>
        </ng-container>

        <!-- Rewards -->
        <ng-container *ngIf='tabs[7].key'>
          <div class="global-sub-title">{{tabs[7].value}}</div>
          <p class="delicate-text">Краудфандинг — это не благотворительность. Спонсоры оказывают финансовую поддержку,
            рассчитывая получить что-то взамен. В {{platformName}} это называется словом «подарки». Чем больше
            перечисленная
            сумма, тем больше должен быть подарок. </p>

          <p class="sub-title">Какие подарки предлагать?</p>
          <p class="delicate-text">Мы предлагаем разделить подарки на 4 типа. Необязательно использовать их все. </p>
          <ul>
            <li class='delicate-text'>
              <span class="li-title">Продукт, который вы создаете </span>
              Это самый главный и наиболее востребованный тип подарка. В большинстве случаев спонсоры перечисляют
              деньги,
              рассчитывая получить продукт, который вы намерены выпустить. Например, копию нового альбома, билет на
              премьеру
              вашего фильма, изданную вами книгу, абонемент в новую школу танцев или что-то еще.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Участие и взаимодействие </span>
              Спонсорам может быть интересно принять участие в вашем проекте. Например, спонсор может принять участие в
              съемках
              фильма, спеть с вами дуэтом в клипе, стать одним из героев вашей игры или появиться на странице вашей
              книги.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Эмоции и незабываемые впечатления </span>
              Вы можете подарить спонсорам незабываемые моменты: пригласите их к себе в лабораторию, проведите
              мастер-класс или
              выступите на квартирнике.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Сувениры </span>
              Если у вас не остается никаких вариантов, то вы можете предложить спонсорам сувернирную продукцию с
              изображением
              вашего проекта.
            </li>
          </ul>

          <p class="sub-title">Какие подарки не стоит предлагать?</p>
          <p class="delicate-text">Будьте креативны! Не предлагайте вернуть деньги после успешной реализации проекта. Не
            предлагайте продукцию, которая не имеет никакого отношения к вашему проекту и его целям.</p>

          <p class="sub-title">Основные правила</p>
          <p class="delicate-text">Мы подготовили для вас несколько правил, которые помогут вам грамотно составить
            список
            подарков: </p>
          <ul>
            <li class='delicate-text'>
              <span class="li-title">Предложите подарок за маленькую сумму </span>
              Не забывайте о тех людях, которые захотят перечислить вам 5, 10 или 20 BYN. Подарком может быть
              оригинальный
              танец, который вы посвятите всем неравнодушным :) Подумайте, наверняка, вам придет в голову что-то доброе
              и
              забавное!
            </li>
            <li class='delicate-text'>
              <span class="li-title">Предложите несколько вариантов подарков</span>
              Один единственный подарок в большинстве случаев не удовлетворит интерес всех спонсоров. Рассмотрите
              несколько
              вариантов, которые могут заинтересовать людей, неравнодушных к вашему делу.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Ни в коем случае не завышайте стоимость подарка </span>
              Спонсоры рассчитывают получить подарок по цене, ниже рыночной. Если вы предлагаете билет на концерт, то он
              должен
              быть значительно ниже рыночной цены. Если вы предлагаете экземпляр книги, то он должен быть значительно
              ниже
              розничной цены в книжном магазине. Не жадничайте!
            </li>
          </ul>

        </ng-container>

        <!-- Budget -->
        <ng-container *ngIf='tabs[8].key'>
          <div class="global-sub-title">{{tabs[8].value}}</div>
          <p class="delicate-text">{{platformName}} использует модель «все или ничего». Автор получает деньги, если
            привлеченное
            финансирование составит 100% от заявленной суммы и выше. Именно поэтому бюджет проекта должен быть
            минимально
            возможным. У проекта с раздутым бюджетом минимальные шансы на успех. </p>

          <p class="sub-title">Рекомендации по оценке бюджета:</p>
          <ul>
            <li class='delicate-text'>
              <span class="li-title">Составьте список расходов </span>
              Составьте список всех ожидаемых расходов по проекту. В расчетах вы должны использовать рыночные цены.
              Постарайтесь
              найти лучшие предложения. Подойдите к этому вопросу серьезно, т.к. спонсоры будут задавать вопросы
              относительно
              планируемых расходов.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Не забудьте про себестоимость подарков </span>
              Помните о себестоимости подарков, их упаковке и доставке. Все это тоже является частью ваших будущих
              расходов.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Определите общий объем финансирования </span>
              Сложите расходы, необходимые на реализацию проекта, и расходы, необходимые на подготовку и доставку
              подарков.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Добавьте комиссию и налоги </span>
              Если ваш проект будет успешно профинансирован, то общая комиссия {{platformName}}, банка и платежной
              системы
              составит {{profitPercent}} от собранной суммы. Также стоит учитывать подоходный налог, который составит
              {{tax}} от
              собранной суммы (если сумма превышает {{maxValue}} BYN).
            </li>
          </ul>

        </ng-container>

        <!-- Strategy -->
        <ng-container *ngIf='tabs[9].key'>
          <div class="global-sub-title">{{tabs[9].value}}</div>
          <p class="delicate-text">Подготовив описание проекта, список подарков и оценив бюджет, необходимо перейти к
            планированию рекламной кампании. О вашем проекте никто не узнает, если вы не займетесь его продвижением. Не
            рассчитывайте на то, что случайные посетители {{platformName}} полностью профинансируют ваш проект. Исходя
            из
            мирового опыта, всего 5-7% от запрашиваемой суммы поступает от случайных спонсоров. Таким образом, вы должны
            быть
            готовы привлечь 95% своими силами.</p>

          <p class="sub-title">Советы по планированию продвижения:</p>
          <ul>
            <li class='delicate-text'>
              <span class="li-title">Составьте список знакомых </span>
              Вашими первыми спонсорами станут ваши друзья, родственники и знакомые. Рассчитывайте, что 5-10% от
              необходимой
              суммы вам перечислят именно они. Составьте список близких контактов и поговорите с каждым, получив
              предварительное
              согласие на поддержку.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Составьте список СМИ и сообществ </span>
              О вашем проекте должно узнать как можно большее количеств человек. Составьте список СМИ и сообществ,
              которые могут
              заинтересоваться вашим проектом. Именно они донесут идею вашего проекта массам. Заранее подготовьте
              пресс-релизы и
              узнайте контакты людей, с которыми необходимо будет связываться.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Найдите «звезду» </span>
              Если у вас есть знакомая «звезда», то договоритесь с ней о публичном призыве поддержать ваш проект.
              Подобная
              публикация в соц. сетях может вызвать вирусный эффект в поддержку вашего проекта.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Развивайте сообщество</span>
              Создайте группу или запустите сайт. Начните формировать сообщество энтузиастов вокруг вашего проекта.
              Каждый день
              делитесь новостями об успехах проекта еще до старта «краудфандинговой кампании».
            </li>
            <li class='delicate-text'>
              <span class="li-title">Будьте оригинальны</span>
              Стандартные способы продвижения, стандартные публикации дают значительно меньший эффект. Постарайтесь
              придумать
              что-то
              по-настоящему оригинальное: задумайтесь о флэш-мобе, вечеринке, акции или о чем-то еще.
            </li>
          </ul>
          <p class="delicate-text">Чем раньше вы начнете планировать продвижение, тем больше у вас будет возможностей
            найти
            оригинальные пути продвижения. </p>

        </ng-container>

        <!-- Campagin -->
        <ng-container *ngIf='tabs[10].key'>
          <div class="global-sub-title">{{tabs[10].value}}</div>
          <p class="delicate-text">Если вы подготовили отличное описание и детально продумали стратегию продвижения, то
            вам
            останется лишь следовать намеченному плану. </p>

          <p class="sub-title">Советы по привлечению средств:</p>
          <ul>
            <li class='delicate-text'>
              <span class="li-title">Не останавливайтесь </span>
              Важно демонстрировать ежедневную динамику по проекту. Запланируйте мероприятия на каждый день, которые
              будут
              провоцировать прирост финансирования. Обзванивайте друзей и знакомых, рассказывайте им о своем проекте.
              Просите
              поддержать проект — помните, что вы просите не денег, а поддержку.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Действуйте согласно намеченному плану </span>
              В любой даже самой успешной краудфандинговой кампании могут быть спады в динамике поступления средств на
              проект.
              Это не должно вас смущать и останавливать. Никогда не опускайте руки и не теряйте веру в себя.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Общайтесь </span>
              Свяжитесь со своими друзьями, семьей и знакомыми и напомните им о своем проекте. Попробуйте сформировать
              стартовый
              капитал в размере 5—10%. Это уберет недоверие со стороны незнакомых спонсоров. Помните, что каждый
              человек,
              которого вы знаете способен вас поддержать финансово или информационно.
            </li>
            <li class='delicate-text'>
              <span class="li-title">Наблюдайте за динамикой </span>
              Разбейте срок краудфандинговой кампании на 4 части. В каждой из этих частей будут свои индикаторы, которые
              будут
              вам давать понять, что нужно не сбавлять обороты, и что вам есть чем гордиться в рамках вашей кампании.
              Важно
              преодолевать «рубежи», например, — сумма в 14% выглядит хуже, чем 16%, и т.д.
            </li>
          </ul>

        </ng-container>

        <!-- End -->
        <ng-container *ngIf='tabs[11].key'>
          <div class="global-sub-title">{{tabs[11].value}}</div>
          <p class="delicate-text">Сбор средств с помощью {{platformName}} — это удивительное приключение, во время
            которого вы столкнетесь с интересными задачами и познакомитесь с замечательными людьми. Вы получите огромное
            удовольствие! Откройте миру себя и свою идею. У вас все получится!</p>

          <p class="sub-title">Удачи!</p>
          <app-img default='assets/img/good-luck.jpg' alt='good luck'></app-img>

        </ng-container>

      </div>
    </div>

    <!-- Navigation -->
    <div class="col-lg-3">
      <div class="global-box">
        <div class="tab-control" *ngFor='let tab of tabs; let i = index' (click)='onTabClick(tab)'>
          <span class="activeTab" *ngIf='tab.key'></span>
          <div class="tab-link" [ngClass]='{tabLinkActive: tab.key}'>
            <app-link empty [value]='tab.value'></app-link>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>