body{
  background-color: var(--bg-ligth);
}

input{
  font-weight: 100;
}

.delicate-text{
  font-weight: 100;
  font-size: var(--regular-font-size);
}

.global-top-padding{ padding-top: var(--global-top-padding)}

::-webkit-input-placeholder{ font-weight: 100; }
::-moz-placeholder{ font-weight: 100; }
:-moz-placeholder{ font-weight: 100; }
:-ms-input-placeholder{ font-weight: 100; }


