<div [hidden]='!showLoader' class="global-loader-box">
    <app-preloader></app-preloader>
  </div>
  
  <div class="container global-top-padding">
    <div class="row">
        <div class="offset-lg-3 col-lg-6 offset-lg-1 col-md-10 left-section">
          <span class="global-title">Смена пароля</span>

          <app-text-input [(item)]='newPasswordInput' (keyup.enter)='onResetPasswordClick()'></app-text-input>
          <app-password-input [(item)]='confirmPasswordInput' (keyup.enter)='onResetPasswordClick()'></app-password-input>
      
          <fieldset class="text-center">
            <app-regular-btn value='Сменить пароль' fluid='true' ico='fas fa-sign-in-alt' (click)='onResetPasswordClick()'></app-regular-btn>
          </fieldset>

        </div>
 
  </div>