<label class="lable-input delicate-text" *ngIf='item.label'>{{item.label}}</label>
<div class="input-group mb-2">
  <input 
  [type]='inputType' 
  [placeholder]='item.placeholder'
  maxLength='28' 
  minLength='1' 
  [ngModel]='item.value' 
  (ngModelChange)='onValueChange($event)' 
  class="form-control" />

  <div class="input-group-append">
    <span class="input-group-text btn btn-primary" (click)='onEyeClick()'>
      <i *ngIf='hidePassword' class="far fa-eye fa-fw"></i>
      <i *ngIf='!hidePassword' class="far fa-eye-slash fa-fw"></i>
    </span>
  </div>

  <span *ngIf='!item.valid' class="text-danger">{{item.errorText}}</span>
</div>