<div class="row">
  <div class="col-lg-5">
    <div class="back-shape"></div>
    <div class="content-wrapper">
      <div class="main-header">Поздравляем</div>
      <div class="delicate-text">
        Большое спасибо что присоединились к нам.
      </div>
      <div class="btn-wrapper">
        <app-regular-btn value='Продолжить' (click)='onConfirmClick()'></app-regular-btn>
      </div>
    </div>

  </div>
  <div class="col-lg-6">
    <div class="image-wrapper">
      <img class="image" src="assets/img/email-confirmed.png" alt="">
    </div>
  </div>
</div>

