.row{
  height: calc(100vh - var(--nav-heigth));
}

.back-shape{
  opacity: 0.1;
  position: absolute;
  border-radius: 0% 50% 50% 0%;
  height: calc(100vh - var(--nav-heigth));
  width: calc(100vh - var(--nav-heigth));
  top: 0;
  left: 0;
  background-color: var(--regular);
}
.sub-header{
  font-weight: 100;
  font-size: 18px;
}
.content-wrapper{
  margin-top: 15rem;
  margin-left: 8rem;
}

.main-header{
  margin-top: 3rem;
  font-size: 60px;
  font-weight: 900;
}

.btn-wrapper{
  margin-top: 1rem;
}

.image-wrapper{
  margin-top: 3rem;
  margin-left: 7rem;
  display: inline-block;
  text-align: center;
}
.image{
  width: 100%;
}