<div [hidden]='!showLoader' class="global-loader-box">
      <app-preloader></app-preloader>
    </div>
    
    <div class="container global-top-padding">
      <div class="row">
          <div class="offset-lg-3 col-lg-6 offset-md-1 col-md-10 left-section">
          <div class="global-box" *ngIf='showMessage'>На вышу почту был отправлен новый пароль</div>           
            <span class="global-title">Восстановление пароля</span>
            <fieldset class="form-group">
              <span class="delicate-text">У вас нет аккаунта? </span>
              <app-link value='Зарегистрироваться' route='sign-up'></app-link>
            </fieldset>
        
            <app-text-input [(item)]='emailInput' (keyup.enter)='onPasswordRecoveryClick()'></app-text-input>
        
            <fieldset class="text-center">
              <app-regular-btn value='Восстановить пароль' fluid='true' ico='fas fa-sync-alt' (click)='onPasswordRecoveryClick()'></app-regular-btn>
            </fieldset>
          </div>
    
    </div>