<div [hidden]='!showLoader' class="global-loader-box">
  <app-preloader></app-preloader>
</div>

<div class="container global-top-padding">
  <div class="row">

    <div class="col-12 ">

      <div class="row">

        <div class="col-lg-3 col-mg-6 col-sm-12">
          <app-img default='assets/img/default-avatar.png' alt='user image' [src]='userInfo.photo'></app-img>
        </div>
        <div class="col-lg-8">
          <div class="row">

            <div class="col-12">
              <span class="profile-name">{{getProfileName()}}</span>
            </div>
            <div class="col-12">
              <span class="email delicate-text">{{userInfo ? userInfo.email : ''}}</span>
            </div>

            <ng-container *ngIf='isMyProfile || authService.isAdmin()'>
              <div class="col-12">
                <div class="row">

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <app-regular-btn value='Редактировать данные' ico='fas fa-cog' fluid='true' (click)='onEditSettingsClick()'></app-regular-btn>
                  </div>
                  <div *ngIf='!authService.isAdmin() && isMyProfile' class="col-lg-6 col-md-5"></div>
                  <div *ngIf='authService.isAdmin() && isMyProfile' class="col-lg-6 col-md-6 col-sm-12">
                    <app-regular-btn value='Ожидающие модерации' ico='fas fa-sign-out-alt'
                      (click)='onToModerationClick()' fluid='true'></app-regular-btn>
                  </div>
                  <div *ngIf='authService.isAdmin() && !isMyProfile' class="col-lg-6 col-md-6 col-sm-12">
                    <app-regular-btn [value]='roleEditTitle.value' ico='fas fa-sign-out-alt' (click)='onRoleEditClick()'
                      fluid='true'></app-regular-btn>
                  </div>
                  <div *ngIf='isMyProfile' class="col-lg-6 col-md-6 col-sm-12">
                    <app-regular-btn value='Выйти из учетной записи' ico='fas fa-sign-out-alt'
                      (click)='onSignOutClick()' fluid='true'></app-regular-btn>
                  </div>

                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>

      <ng-container *ngIf='isMyProfile'>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <app-tab [value]='myProjectsTab.value' [active]='myProjectsTab.isActive'
              (click)='onTabClick(myProjectsTab)'>
            </app-tab>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <app-tab [value]='supportedTab.value' [active]='supportedTab.isActive' (click)='onTabClick(supportedTab)'>
            </app-tab>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <app-tab [value]='draftsTab.value' [active]='draftsTab.isActive' (click)='onTabClick(draftsTab)'>
            </app-tab>
          </div>
        </div>

        <div class="row" *ngIf='myProjectsTab.isActive && myProjectsPaging && myProjectsPaging.collection'>
          <div class="col-lg-4 col-md-6 col-sm-12" *ngFor='let card of myProjectsPaging.collection'>
            <app-project-card [card]='card'>
            </app-project-card>
          </div>
          <div class="col-12">
            <app-paging [control]='myProjectsPaging' [loadingOn]='showLoader'></app-paging>
          </div>
        </div>

        <div class="row" *ngIf='supportedTab.isActive && supportedPaging && supportedPaging.collection'>
          <div class="col-lg-4 col-md-6 col-sm-12" *ngFor='let card of supportedPaging.collection'>
            <app-project-card [card]='card'>
            </app-project-card>
          </div>
          <div class="col-12">
            <app-paging [control]='supportedPaging' [loadingOn]='showLoader'></app-paging>
          </div>
        </div>

        <div class="row" *ngIf='draftsTab.isActive && draftsPaging && draftsPaging.collection'>
          <div class="col-lg-4 col-md-6 col-sm-12" *ngFor='let card of draftsPaging.collection'>
            <app-project-card [editable]='isEditable(card)' [card]='card' (editClick)='onCardEditClick(card)'
              (deleteClick)='onCardDeleteClick(card, draftsPaging.collection)'>
            </app-project-card>
          </div>
          <div class="col-12">
            <app-paging [control]='draftsPaging' [loadingOn]='showLoader'></app-paging>
          </div>
        </div>

      </ng-container>

      <div class="row" *ngIf='!isMyProfile'>
        <div class="col-12 global-sub-title">Проекты</div>
        <div class="col-12" *ngIf='myProjectsPaging && myProjectsPaging.collection'>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor='let card of myProjectsPaging.collection'>
              <app-project-card [card]='card'>
              </app-project-card>
            </div>
            <div class="col-12">
              <app-paging [control]='myProjectsPaging' [loadingOn]='showLoader'></app-paging>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>