  <div class="reward-card-box">

    <img class="reward-img" [src]='imageUrl' />
    
    <div class="reward-card-body">
      <div class="reward-card-description">
        <div class="reward-title">{{item.name}}</div>
        {{item.description}}
      </div>

      <div class="reward-card-pay-info">

        <div class="row">
          <div class="col">
            <span class="card-down-status">Примерная дата реализации</span>
            <span *ngIf='item.deliveryDate !== "Invalid Date"' class="reward-card-description">{{item.deliveryDate | date: 'MMMM yyyy'}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <span class="card-down-status">Способ получения</span>
            <span class="reward-card-description">{{deliveryTypeName}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="reward-price">{{item.price}} BYN</div>
          </div>
          <div class="col">
            <div *ngIf='item.isLimited' class="rewards-count">ОСТАЛОСЬ {{item.availableCount}}</div>
          </div>
        </div>

      </div>

      <ng-container *ngIf='editable'>
        <div class="row">
          <div class="col">
            <app-link empty value='Изменить' (click)='onChangeClick()'></app-link>
          </div>
          <div class="col text-right">
            <app-link empty value='Удалить' (click)='onDeleteClick()'></app-link>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf='hasBuyOption()'>
          <div class="row">
            <div class="col">
              <app-link empty value='Приобрести' (click)='onBuyClick()'></app-link>
            </div>
          </div>
        </ng-container>

    </div>
  </div>