<header>

  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container-fluid">

      <a class="navbar-brand" [routerLink]="['/']">
        <b>Crowdfinding app</b>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center" [ngClass]="{ show: isExpanded }">

        <ul class="navbar-nav">
          <li *ngFor='let item of navsHolder.centralNavs' class="nav-item" [class.hide-nav-item]='!item.show'>
            <a class="nav-link" [routerLink]="[item.route]">
              {{item.value}}
              <i *ngIf='item.ico' [class]='item.ico + " fa-fw"'></i>
            </a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li *ngFor='let item of navsHolder.rightNavs' class="nav-item" [class.hide-nav-item]='!item.show'>
            <a class="nav-link" [routerLink]="[item.route]">
              {{item.value}}
              <i *ngIf='item.ico' [class]='item.ico + " fa-fw"'></i>
            </a>
          </li>
        </ul>

      </div>

    </div>
  </nav>

</header>