<div class="row">
  <div class="shape-up"></div>
  <div class="col-lg-5 left-section">
    <span class="title">Вход</span>
    <fieldset class="form-group">
      <span class="delicate-text">У вас нет аккаунта? </span>
      <app-link value='Зарегистрироваться' route='sign-up'></app-link>
    </fieldset>
    <!-- <span *ngIf='!succesSignIn' class='text-danger'>Неверные email или пароль.</span> -->

    <app-text-input [(item)]='emailInput'></app-text-input>
    <app-password-input [(item)]='passwordInput'></app-password-input>

    <fieldset class="text-center">
      <app-regular-btn value='Войти' fluid='true' ico='fas fa-sign-in-alt' (click)='onSignInClick()'></app-regular-btn>
    </fieldset>

    <fieldset class="form-group">
      <span class="delicate-text">Забыли пароль? </span>
      <app-link value='Восстановить доступ' route='forgot-password'></app-link>
    </fieldset>
  </div>
  <div class="shape-down"></div>
  <div class="col-lg-6 right-section">
    <div class="img-wrapper">
      <img class="background-image" src="assets/img/sign-in.webp" alt="sign in image">
    </div>
  </div>
</div>