 .card-wrapper{
  margin-top: 10px;
}

.card-box{
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  background-color: white;
  transition: 0.3s;
  overflow: hidden;
}

.card-box:hover{
  cursor: pointer;
  box-shadow: 5px 10px 15px #AFAFAF,
              -5px 0 15px #AFAFAF;
}

.card-box:hover .card-picture-hover{
  opacity: 0.75;
}

.card-box:hover .card-description, .card-down-status{
  color: black;
}

.card-box:hover .card-down-status{
  color: black;
}

.card-box:hover .card-picture-link{
  text-decoration: none;
  color: #fff;
  opacity: 1;
  font-size: 120%;
}

.card-picture-box{
  display: block;
  text-align: center;
}

.card-picture-link{
  position: absolute;
  display: inline-block;
  width: calc(100% - 31.6px);
  line-height: 1150%;
  font-size: 170%;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  opacity: 0;
  transition: 0.32s;
}

.card-picture-hover{
  position: absolute;
  right: 16px;
  width: calc(100% - 31.6px);
  border-radius: 4px 4px 0 0;
  opacity: 0;
 
}

.card-picture{
  width: 100%;
}

.card-body{
  padding: 1rem;
  padding-top: 6px;
}

.filter{
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 100;
}

.card-description{
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  color: #AFAFAF;
  height: 137px;
  overflow: hidden;
  text-align: justify;
  transition: 0.32s;
  background-color: transparent;
  z-index: 2;
}

.card-description:hover{
  text-decoration: none;
}

.projectName{
  display: inline-block;
  text-decoration: none;
  color: var(--regular);
  text-align: left;
  font-weight: 600;
  font-size: 17px;
  width: 100%;
  z-index: 2;
  background-color: transparent;
}

.projectName:hover{
  text-decoration: none;
  color: var(--regular);
}

.card-progress-box{
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
  height: 4px;
  background-color: var(--border);
  overflow: hidden;
}

.progress-bar{
  height: 100%;
  background-color: var(--regular);
}

.card-right-status{
  text-align: end;
}

.card-up-status{
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: var(--regular);
  font-weight: 600;
  font-size: 18px;

}

.card-up-status:hover{
  text-decoration: none;
  color: var(--regular);
}

.card-down-status{
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #AFAFAF;
  font-size: 13px;
}

.card-down-status:hover{
  text-decoration: none;
}

/* FUTURE */
/* .project-card-status-pict{
  position:absolute;
  right: 9%;
  text-align:end;
  z-index: 0;
  display: none;
  color: lightblue;
} */

/* .project-card-status-pict-check{
  position:absolute;
  right: 10.5%;
  top:  51%;
  text-align:end;
  display: none;
  z-index: 1;
  color: #fff;
} */
