<!-- <div *ngIf="editable" class="controls-container">
  <div class="btn btn-primary btn-margin-right" (click)=onEditClick()>Редактировать</div>
  <div class="btn btn-danger" (click)=onDeleteClick()>Удалить</div>
</div>

<div class="card-wrapper">

  <div class="card-img-wrapper">
    <img src="{{card.imgPath}}" class="card-img" alt="Card picture.">
  </div>

  <div class="card-description-wrapper">

    <span class="card-title">
      {{card.name}}
    </span>

    <div class="card-description">
      {{card.description}}
    </div>

    <div class="card-progress-wrapper">
      <div class="progress-bar-wrapper">
        <span class="progress-bar" [style.width]='getWidth()'></span>
      </div>
    </div>

  </div>

</div> -->


<div [class]='columnClass + " card-wrapper"'>
  <div class="card-box">
    <div class="card-picture-wrapper">
      <div class="card-picture-box">
        <!-- <span class="card-picture-link">ПОДДЕРЖАТЬ ПРОЕКТ</span>
        <img class="card-picture-hover" src="assets/img/exampleProjectPictHover.png" /> -->
        <img class="card-picture" alt="Project picture" [src]='imageUrl'>
      </div>
    </div>
    <div class="card-body">
      <!-- <span class="fa fa-check fa-fw project-card-status-pict-check"></span> -->
      <!-- <span class="fa fa-certificate fa-2x project-card-status-pict"></span> -->
      <!-- <span class="link filter"> {{card.category}} </span> -->
      <!-- <app-link empty [value]='card.categoryName'></app-link> -->
      <span class="delicate-text">{{card.categoryName}}</span>
      <span class="card-description">
        <span class="projectName"> {{card.name}} </span>
        {{card.description}}
      </span>
      <div class="card-progress-box">
        <span class="progress-bar" [style.width]='getWidth()'></span>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <span class="card-up-status"> {{getProgress()}} %</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="card-down-status"> {{getStatus()}} </span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col card-right-status">
              <span class="card-up-status"> {{card.currentResult}} BYN</span>
            </div>
          </div>
          <div class="row">
            <div class="col card-right-status">
              <span class="card-down-status"><span class="fas fa-clock-o fa-fw"></span> time </span>
            </div>
          </div>
        </div>
        <ng-container *ngIf='editable !== null && editable !== undefined && editable !== false'>
          <div class="col-12">
            <div class="row">
              <div class="col">
                <app-link empty value='Редактировать' (click)='onEditClick()'></app-link>
              </div>
              <div class="col text-right">
                <app-link empty value='Удалить' (click)='onDeleteClick()'></app-link>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>