<div class='card-wrapper'>
  <div class="card-box" (click)='onCardClick($event)'>
    <div class="card-picture-wrapper">
      <div class="card-picture-box">
      <span class="card-picture-link">{{getHoverTitle()}}</span>
        <img class="card-picture-hover" src="assets/img/exampleProjectPictHover.png" />
        <img class="card-picture" alt="Project picture" [src]='imageUrl'>
      </div>
    </div>
    <div class="card-body">
      <!-- <span class="fa fa-check fa-fw project-card-status-pict-check"></span> -->
      <!-- <span class="fa fa-certificate fa-2x project-card-status-pict"></span> -->
      <!-- <span class="link filter"> {{card.category}} </span> -->
      <!-- <app-link empty [value]='card.categoryName'></app-link> -->
      <span class="filter">{{card.categoryName}}</span>
      <p class="card-description">
        <span class="projectName"> {{card.name}} </span>
        <span class="description">{{card.description}}</span>
      </p>
      <div class="card-progress-box">
        <span class="progress-bar" [style.width]='getWidth()'></span>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <span class="card-up-status"> {{getProgress()}} %</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span class="card-down-status"> {{getStatus()}} </span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col card-right-status">
              <span class="card-up-status"> {{card.currentResult}} BYN</span>
            </div>
          </div>
          <div class="row">
            <div class="col card-right-status">
              <span class="card-down-status"><span class="far fa-clock fa-fw"></span> {{card.restTimeToEnd ? card.restTimeToEnd : ''}} </span>
            </div>
          </div>
        </div>
        <ng-container *ngIf='editable !== null && editable !== undefined && editable !== false'>
          <div class="col-12">
            <div class="row">
              <div class="col">
                <app-link id='editBtn' empty value='Редактировать' (click)='onEditClick()'></app-link>
              </div>
              <div class="col text-right">
                <app-link empty value='Удалить' (click)='onDeleteClick()'></app-link>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>