<div *ngIf="editable" class="controls-container">
  <div class="btn btn-primary btn-margin-right" (click)='onEditClick()'>Редактировать</div>
  <div class="btn btn-danger" (click)='onDeleteClick()'>Удалить</div>
</div>
<div class="card-wrapper">

  <div class="card-img-wrapper">
    <img src="{{card.imgPath}}" class="card-img" alt="Card picture.">
  </div>

  <div class="card-description-wrapper">

    <span class="card-title">
      {{card.name}}
    </span>

    <div class="card-description">
      {{card.description}}
    </div>

    <div class="card-progress-wrapper">
      <div class="progress-bar-wrapper">
        <span class="progress-bar" [style.width]='getWidth()'></span>
      </div>
    </div>

  </div>

</div>