<div class="container global-top-padding">
  <div class="row">

    <div class="col-12 header-section">
      <div class="row">
        <div class="col-5">
          <span class="global-title">Tребования к проекту</span>
        </div>
        <div class="col-7 header-text-wrapper">
          <span class="header-text delicate-text">PolessCrowdFinding публикует проекты любой тематики и направленности.
            Основные
            требования к проектам: </span>
        </div>
      </div>
    </div>

    <div *ngFor='let rule of requirements' class="col-lg-6 col-md-6 col-sm-12 create-project-rule-card-wrapper">
      <div class="create-project-rule-card">
        <div class="row">
          <div class="col-5">
            <app-img alt='image' [default]='rule.image'></app-img>
          </div>
          <div class="col-7">
            <span class="rule-header">{{rule.header}}</span>
            <span class="rule-text delicate-text">{{rule.text}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 header-section">
      <div class="row">
        <div class="col-5">
          <span class="global-title">Требования к автору</span>
        </div>
        <div class="col-7 header-text-wrapper">
          <span class="header-text delicate-text">На данный момент PolessCrowdFinding работает исключительно с
            физическими лицами.
            Для создания проекта автор должен соответствовать ряду требований: </span>
        </div>
      </div>
    </div>

    <div *ngFor='let rule of authorsRequirements' class="col-lg-6 col-md-6 col-sm-12 create-project-rule-card-wrapper">
      <div class="create-project-rule-card">
        <div class="row">
          <div class="col-5">
              <app-img alt='image' [default]='rule.image'></app-img>
          </div>
          <div class="col-7">
            <span class="rule-header">{{rule.header}}</span>
            <span class="rule-text delicate-text">{{rule.text}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 header-section">
      <div class="row">
        <div class="col-6">
          <span class="global-title">Процесс создания проекта</span>
        </div>
        <div class="col-6 header-text-wrapper">
          <span class="header-text delicate-text">Создание проекта состоит из нескольких последовательных этапов:</span>
        </div>
      </div>
    </div>

    <div *ngFor='let rule of projectCreationProcesess'
      class="col-lg-6 col-md-6 col-sm-12 create-project-rule-card-wrapper">
      <div class="create-project-rule-card">
        <div class="row">
          <div class="col-5">
              <app-img alt='image' [default]='rule.image'></app-img>
          </div>
          <div class="col-7">
            <span class="rule-header">{{rule.header}}</span>
            <span class="rule-text delicate-text">{{rule.text}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 header-section">
        <fieldset class="text-center">
            <app-regular-btn value='Перейти к созданию' ico='fas fa-plus' (click)='onCreateProjectClick()'></app-regular-btn>
          </fieldset>
    </div>

  </div>
</div>