<div class="row">

  <div class="col-12">
    <span class="header">Tребования к проекту</span>
    <span class="delicate-text">PolessCrowdFinding публикует проекты любой тематики и направленности. Основные требования к проектам: </span> 
  </div>
  <div *ngFor='let rule of rules' class="col-lg-3 col-md-6 col-sm-12 create-project-rule-card-wrapper">
    <div class="create-project-rule-card">
      <div class="img-wrapper">
        <img [src]="rule.image" alt="image">
      </div>
      <span class="rule-header">{{rule.header}}</span>
      <span class="rule-text delicate-text">{{rule.text}}</span>
    </div>
  </div>

</div>
