<div [hidden]='!showLoader' class="global-loader-global-box">
  <app-preloader></app-preloader>
</div>

<div class="container global-top-padding">
  <div class="row">
    <div class="col-12">
      <h2 class="global-title">Создание проекта</h2>
    </div>

    <!--  Tab btns -->
    <div class="col-lg-3 col-md-6 col-sm-12">
      <app-tab [value]='generalInfoTab.value' [active]='generalInfoTab.isActive' (click)='onTabClick(generalInfoTab)'>
      </app-tab>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <app-tab [value]='rewardsTab.value' [active]='rewardsTab.isActive' (click)='onTabClick(rewardsTab)'></app-tab>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <app-tab [value]='descriptionTab.value' [active]='descriptionTab.isActive' (click)='onTabClick(descriptionTab)'>
      </app-tab>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <app-tab [value]='ownerInfoTab.value' [active]='ownerInfoTab.isActive' (click)='onTabClick(ownerInfoTab)'>
      </app-tab>
    </div>

    <!-- Tabs -->
    <ng-container *ngIf='generalInfoTab.isActive'>
      <div class="col-8 tab-inner">

        <div class="global-box">
          <span class="global-sub-title">Название проекта</span>
          <app-text-input [item]='projectNameInput' (valueChange)='onProjectNameChange()'></app-text-input>
          <div class="delicate-text">Название должно быть лаконичным, уникальным и запоминающимся. Будьте уверены в том,
            что название проекта отражает его суть.
          </div>
        </div>

        <div class="global-box">
          <span class="global-sub-title">Краткое описание проекта</span>
          <app-text-area [item]='projectShortDescriptionInput' (valueChange)='onProjectShortDecriptionChange()'>
          </app-text-area>
          <div class="delicate-text">
            Опишите в одном предложении цель вашего проекта.
          </div>
        </div>

        <div class="global-box">
          <span class="global-sub-title">Категория проекта</span>
          <app-select [item]='categorySelectInput' (selectedValue)='onCategorySelect($event)'></app-select>
        </div>

        <div class="global-box">
          <span class="global-sub-title">Город реализации</span>
          <app-select [item]='citiesSelectInput' (selectedValue)='onCitySelect($event)'></app-select>
        </div>

        <div class="global-box">
          <span class="global-sub-title">Обложка проекта</span>
          <div class="global-img-wrapper">
            <img class="global-img" [src]='projectImageInput.fileName && projectImageInput.fileName !== "assets/img/stock-project.jpg" 
                ? fileService.absoluteFileStoragePath + projectImageInput.fileName 
                : "assets/img/stock-project.png"' alt="project image" />
          </div>
          <app-file-input [item]='projectImageInput' (change)='onImageUpload(projectImageInput)'></app-file-input>
        </div>

        <div class="global-box">
          <span class="global-sub-title">Видео проекта</span>
          <app-text-input [item]='projectVideoInput'></app-text-input>
          <div class="delicate-text">Вам необходимо предварительно загрузить свое видео на YouTube, а затем нажать на
            кнопку поделиться и скопировать сюда ссылку.
          </div>
        </div>

        <div class="global-box">
          <span class="global-sub-title">Бюджет и продолжительность компании</span>
          <app-decimal-input [item]='projectPurposeInput' (valueChange)='onProjectPurposeChange()'></app-decimal-input>
          <app-decimal-input [item]='projectDurationInput'></app-decimal-input>
          <div class="delicate-text">Мы рекомендуем указывать минимальную сумму, необходимую для реализации проекта.
            Платформа использует модель «все или ничего», а это значит, что для получения средств вам обязательно
            необходимо собрать от 100% и выше.
          </div>
          <br>
          <div class="delicate-text">
            Обращаем ваше внимание на то, что платформа берет комиссию только с успешных проектов.
          </div>
        </div>

      </div>

      <div class="col-4 tab-inner">
        <app-regular-btn value='Сохранить изменения' fluid='true' icoBefore='true' ico='fas fa-save'
          (click)='onSaveClick()'>
        </app-regular-btn>
        <app-regular-btn value='Отправить на модерацию' fluid='true' icoBefore='true' ico='fas fa-rocket'
          (click)='toModerationClick()'>
        </app-regular-btn>
        <ng-container *ngIf='authService.isAdmin() && projectId'>
          <app-regular-btn value='Запустить проект' fluid='true' icoBefore='true' ico='fas fa-rocket'
            (click)='toStartClick()'>
          </app-regular-btn>
        </ng-container>
        <ng-container *ngIf='projectId'>
          <app-regular-btn [link]='projectPageRoute  + "/" + this.projectId' value='Предпросмотр' fluid='true' icoBefore='true' ico='fas fa-rocket'>
          </app-regular-btn>
        </ng-container>
        <div class="row">
          <div class="col">
            <app-project-card [card]='projectCard'></app-project-card>
          </div>
        </div>
        <span class="global-sub-title">Помощь <i class="fas fa-info-circle fa-xs"></i></span>
        <app-collapse header='Зачем записывать видео?'
          body='Видео-обращение значительно повысит ваши шансы на успех. Это эффективный инструмент, который позволит лично обратиться к потенциальным спонсорам, рассказать о проекте и призвать к действию.'>
        </app-collapse>
        <app-link empty value='Задать вопрос' (click)='feedBackModalShow = true'></app-link>
      </div>
    </ng-container>

    <ng-container *ngIf='rewardsTab.isActive'>
      <div class="col-8 tab-inner">

        <div class="global-box">
          <span class="global-sub-title">Новое вознаграждение</span>
          <app-text-input [item]='rewardNameInput'></app-text-input>
          <app-decimal-input [item]='rewardCostInput'></app-decimal-input>
          <app-text-area [item]='rewardDescriptionInput'></app-text-area>
        </div>

        <div class="global-box">
          <span class="global-sub-title">Выбор изображения</span>
          <div class="delicate-text">
            Загружать изображение для вознаграждения необязательно, но оно привлекает внимание, что может помочь вам
            собрать нужную сумму.
          </div>
          <div class="global-img-wrapper">
            <img class="global-img" [src]='rewardImageInput.fileName && rewardImageInput.fileName !== "assets/img/stock-reward.jpg" 
              ? fileService.absoluteFileStoragePath + rewardImageInput.fileName
              : "assets/img/stock-reward.jpg"' alt="project image" />
          </div>
          <app-file-input [item]='rewardImageInput' (change)='onImageUpload(rewardImageInput)'></app-file-input>
        </div>

        <div class="global-box">
          <span class="global-sub-title">Примерная дата доставки</span>
          <app-month-select (selectedValue)='onMonthSelect($event)'></app-month-select>
          <app-year-selector (selectedValue)='onYearSelect($event)' [yearsCount]='3'></app-year-selector>
        </div>

        <div class="global-box">
          <span class="global-sub-title">География доставки</span>

          <div (click)='onDeliverySubTabClick(withoutDeliverySubTab)'>
            <span class="delicate-text"> Доставка отсутствует</span>
          </div>

          <div (click)='onDeliverySubTabClick(someCountriesDeliverySubTab)'>
            <span class="delicate-text"> Некоторые страны</span>
            <ng-container *ngIf='someCountriesDeliverySubTab.isActive'>
              <app-select [item]='countrySelectInput' (selectedValue)='onCountrySelect($event)'></app-select>
              <app-decimal-input [item]='countryDeliveryCostInput'></app-decimal-input>
              <app-regular-btn value='Добавить страну' (click)='onDeliveryAddClick()'></app-regular-btn>
              <div class="selected-countries">
                <div class="selected-country-item" *ngFor='let country of rewardDeliveryCountries'>
                  {{getCountryNameById(country.key)}} {{country.value}} BYN
                  <app-regular-btn value='Удалить' (click)='onRemoveCountryFromIncludedList(country)'></app-regular-btn>
                </div>
              </div>
            </ng-container>
          </div>

          <div (click)='onDeliverySubTabClick(wholeWorldDeliverySubTab)'>
            <span class="delicate-text"> Весь мир</span>
            <ng-container *ngIf='wholeWorldDeliverySubTab.isActive'>
              <app-decimal-input [item]='rewardWholeWorldDeliveryCostInput'></app-decimal-input>
              <app-select [item]='countrySelectInput' (selectedValue)='onCountrySelect($event)'></app-select>
              <app-decimal-input [item]='countryDeliveryCostInput'></app-decimal-input>
              <app-regular-btn value='Добавить страну исключение' (click)='onDeliveryAddClick()'>
              </app-regular-btn>
              <div class="selected-countries">
                <div class="selected-country-item" *ngFor='let country of rewardDeliveryCountries'>
                  {{getCountryNameById(country.key)}} {{country.value}} BYN
                  <app-regular-btn value='Удалить' (click)='onRemoveCountryFromIncludedList(country)'></app-regular-btn>
                </div>
              </div>
            </ng-container>
          </div>

        </div>

        <div class="global-box">
          <span class="global-sub-title">Количество</span>
          <div class="delicate-text">
            Если у вознаграждения есть ограничение по количеству, то укажите его.
          </div>
          <app-decimal-input [item]='rewardCountRestrictionsInput'></app-decimal-input>

        </div>
        <app-regular-btn value='Добавить вознаграждение' (click)='onRewardAddClick()'></app-regular-btn>

      </div>

      <div class="col-4 tab-inner">
        <app-regular-btn value='Сохранить изменения' fluid='true' icoBefore='true' ico='fas fa-save'
          (click)='onSaveClick()'>
        </app-regular-btn>
        <app-regular-btn value='Отправить на модерацию' fluid='true' icoBefore='true' ico='fas fa-rocket'
          (click)='toModerationClick()'>
        </app-regular-btn>
        <ng-container *ngIf='authService.isAdmin() && projectId'>
          <app-regular-btn value='Запустить проект' fluid='true' icoBefore='true' ico='fas fa-rocket'
            (click)='toStartClick()'>
          </app-regular-btn>
        </ng-container>
        <span class="global-sub-title">Помощь <i class="fas fa-info-circle fa-xs"></i></span>
        <app-collapse header='Что такое лоты?'
          body='Лоты – это продукты, которые вы предлагаете в рамках крауд-кампании. Это то, ради чего люди перечисляют деньги в ваш проект.'>
        </app-collapse>
        <app-collapse header='Какие лоты лучше добавлять?'
          body='Если вы выводите на рынок новый продукт, то в качестве лота должен выступить сам продукт и его модификации. Если вы решили издать книгу, то лотом является ваша книга. Если вы организуете концерт или другое мероприятие, то лотами могут выступить билеты на мероприятие. Подробнее с нашими рекомендациями вы можете ознакомиться здесь. '>
        </app-collapse>
        <app-link empty value='Задать вопрос' (click)='feedBackModalShow = true'></app-link>
        <div class="row reward-container">
          <app-reward-card *ngFor='let reward of projectRewardsList' [item]='getRewardCardFromInfo(reward)'
            editable='true' (changeClick)='onRewardChangeClick(reward)' (deleteClick)='onRewardDeleteClick(reward)'>
          </app-reward-card>
        </div>
      </div>

    </ng-container>

    <ng-container *ngIf='descriptionTab.isActive'>
      <div class="col-8 tab-inner">

        <div class="global-box">
          <span class="global-sub-title">Описание проекта</span>
          <div class="delicate-text">
            Начните с представления себя, своей команды, а также с предыстории проекта. Далее опишите суть и цель
            проекта,
            объясните, в чем его уникальность и почему он должен заинтересовать людей. Распишите, на что будут потрачены
            вложенные
            пользователями средства. Избегайте монотонности изложения, разбивайте текст на абзацы с привлекательными
            заголовками,
            фото- и видеоматериалами, графическими изображениями и т.п.
          </div>
          <div class="delicate-text">
            Совет: по объему текст-описание должен быть примерно
            наравне с колонкой вознаграждений – идеально, если они заканчиваются на одном уровне.
          </div>
          <app-text-area [item]='projectDescriptionInput'></app-text-area>
        </div>

        <div class="global-box">
          <span class="global-sub-title">Частые вопросы</span>
          <app-text-input [item]='questionInput'></app-text-input>
          <app-text-area [item]='answerInput'></app-text-area>
          <app-regular-btn value='Добавить вопрос' (click)='onQuestionAddClick()'></app-regular-btn>
          <div *ngFor='let question of faqList'>
            <span class="delicate-text">{{question.question}}</span>
            <br>
            <span>{{question.answer}}</span>
            <app-regular-btn value='Удалить' (click)='onQuestionRemoveClick(question)'></app-regular-btn>
            <app-regular-btn value='Изменить' (click)='onQuestionEditClick(question)'></app-regular-btn>
          </div>
        </div>

      </div>

      <div class="col-4 tab-inner">
        <app-regular-btn value='Сохранить изменения' fluid='true' icoBefore='true' ico='fas fa-save'
          (click)='onSaveClick()'>
        </app-regular-btn>
        <app-regular-btn value='Отправить на модерацию' fluid='true' icoBefore='true' ico='fas fa-rocket'
          (click)='toModerationClick()'>
        </app-regular-btn>
        <ng-container *ngIf='authService.isAdmin() && projectId'>
          <app-regular-btn value='Запустить проект' fluid='true' icoBefore='true' ico='fas fa-rocket'
            (click)='toStartClick()'>
          </app-regular-btn>
        </ng-container>
        <span class="global-sub-title">Помощь <i class="fas fa-info-circle fa-xs"></i></span>
        <app-collapse header='Что должно быть в описании?'
          body='Специально для вас мы подготовили рекомендации для написания грамотного и эффективного описания.'>
        </app-collapse>
        <app-collapse header='Что такое «Частые вопросы»?'
          body='«Частые вопросы» – это блок, в котором вы можете заранее ответить на наиболее очевидные вопросы, которые могут возникнуть у потенциальных спонсоров в процессе знакомства с вашим проектом.'>
        </app-collapse>
        <app-link empty value='Задать вопрос' (click)='feedBackModalShow = true'></app-link>
      </div>
    </ng-container>

    <ng-container *ngIf='ownerInfoTab.isActive'>
      <div class="col-8 tab-inner">

        <div class="global-box">
          <span class="global-sub-title">Личные данные</span>
          <div class="delicate-text">
            Чтобы платформа могла заключить с вами договор, необходимо заполнить паспортные данные. Информация, которую
            вы
            передаете в платформу, является конфиденциальной и не подлежит разглашению.
          </div>
          <app-text-input [item]='projectOwnerSurnameInput'></app-text-input>
          <app-text-input [item]='projectOwnerNameInput'></app-text-input>
          <app-text-input [item]='projectOwnerMiddleNameInput'></app-text-input>
          <app-date-input [item]='projectOwnerBirthdayInput'></app-date-input>
          <app-text-input [item]='projectOwnerPassportNumberInput'></app-text-input>
          <span class="delicate-text">Пример: AB1234567</span>
          <app-text-input [item]='projectOwnerPrivateNumberInput'></app-text-input>
          <span class="delicate-text">Пример: 1234567A012PB0</span>
          <app-text-input [item]='projectOwnerWhomIssuedDocInput'></app-text-input>
          <span class="delicate-text">Пример: Советское РУВД г.Минска</span>
          <app-date-input [item]='projectOwnerWhenIssuedDocInput'></app-date-input>
          <app-text-input [item]='projectOwnerAddressInput'></app-text-input>
          <span class="delicate-text">Пример: г.Минск, ул. Е. Полоцкой, д.3, кв. 16</span>
          <app-text-input [item]='projectOwnerPhoneNumberInput'></app-text-input>
          <span class="delicate-text">Пример: 375291234567</span>
        </div>

      </div>

      <div class="col-4 tab-inner">
        <app-regular-btn value='Сохранить изменения' fluid='true' icoBefore='true' ico='fas fa-save'
          (click)='onSaveClick()'>
        </app-regular-btn>
        <app-regular-btn value='Отправить на модерацию' fluid='true' icoBefore='true' ico='fas fa-rocket'
          (click)='toModerationClick()'>
        </app-regular-btn>
        <ng-container *ngIf='authService.isAdmin() && projectId'>
          <app-regular-btn value='Запустить проект' fluid='true' icoBefore='true' ico='fas fa-rocket'
            (click)='toStartClick()'>
          </app-regular-btn>
        </ng-container>
        <span class="global-sub-title">Помощь <i class="fas fa-info-circle fa-xs"></i></span>
        <app-collapse header='Зачем вводить номер счета?'
          body='Номер счета необходим для перечисления средств в случае успеха вашей краудфандинговой кампании. '>
        </app-collapse>
        <app-collapse header='Зачем вводить паспортные данные?'
          body='Для публикации проекта и сбора средств вам необходимо заключить договоры с «PolessInvest» и ОАО «Банк». Ваши данные необходимы для формирования договоров.'>
        </app-collapse>
        <app-collapse header='Кому доступны мои данные?'
          body='Ваши данные будут использоваться исключительно для вашей идентификации и формирования договоров. Доступ третьих лиц к вашим данным исключен.'>
        </app-collapse>
        <app-link empty value='Задать вопрос' (click)='feedBackModalShow = true'></app-link>
      </div>
    </ng-container>

  </div>
</div>
<app-feedback-modal [(show)]='feedBackModalShow'></app-feedback-modal>