.tab-inner{
  margin-top: 1rem;
}

.title{
  font-weight: 700;
  font-size: 40px;
}

.reward-container{
  margin-top: 1rem;
}

.remove-delivery-btn{
  transition: 0.2s;
}

.remove-delivery-btn:hover{
  color: red;
  cursor: pointer;
}