.tab-inner{
  margin-top: 1rem;
}

.title{
  font-weight: 700;
  font-size: 40px;
}

.reward-container{
  margin-top: 1rem;
}

.fa-trash-alt{
  transition: 0.2s;
}

.fa-trash-alt:hover{
  color: red;
  cursor: pointer;
}

.fa-pencil-alt{
  transition: 0.2s;
}

.fa-pencil-alt:hover{
  color: darkorchid;
  cursor: pointer;
}

.question{
  font-size: 19px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 5px;
  display: block;
}

.answer{
  display: block;

}