.message-wrapper{
  position: absolute;
  z-index: 100;
}

.error-message{
  transition: 0.2;
  /* background-color: var(--pre-light-regular); */
  background-color: pink;
  box-shadow:0px 2px 5px 0px rgba(0,0,0,0.36);
  -webkit-box-shadow:0px 2px 5px 0px rgba(0,0,0,0.36);
  -moz-box-shadow:0px 2px 5px 0px rgba(0,0,0,0.36);
  /* color: var(--ligth-regular); */
  padding: 7px;
  margin: 4px;
  border-radius: 3px;
  /* border: 1px solid var(--ligth-regular); */
}

.error-message:hover{
  cursor: pointer;
  background-color: red;
  color: white;
}